{% extends 'layout.html' %}

{% block content %}
<style>
    .highlight {
        background-color: #5ade6a73;
    }
</style>

<!--  -->
<div class="container content-container">
    <section class="section">
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <div class="row">
            <div class="col-4">
                <label class="form-label">Keyword</label>
                <input style="width: 100%;" placeholder="Enter Keyword" class="form-control" name="enterkeyword"
                    id="enter_keyword">
            </div>
            <div class="col-1">
                <label class="form-label">&nbsp;</label>
                <button id="demo" onclick="myFunction()" class="btn btn-primary w-100">ADD</button>
            </div>
            <script>

                function myFunction() {
                    var r = confirm("Are you sure want to add this keyword ?");
                    if (r == true) {
                        $("#processing").show();
                        var data = new FormData();
                        data.append('Keyword', $("#enter_keyword").val());
                        $.ajax({
                            type: 'POST',
                            enctype: 'multipart/form-data',
                            url: '/get_new_Keywords_ConAutoSuggestion',
                            processData: false,
                            cache: false,
                            timeout: 800000,
                            contentType: false,
                            data: data,
                            success: function (response) {
                                $(document).ready(function () {
                                    $.ajax({
                                        type: 'POST',
                                        enctype: 'multipart/form-data',
                                        url: '/Show_Keywords_ConAutoSuggestion',
                                        processData: false,
                                        contentType: false,
                                        cache: false,
                                        timeout: 800000,
                                        contentType: 'application/json',
                                        data: {},
                                        success: function (response) {
                                            $('#patient_table').empty()
                                            var data = $.parseJSON(response);
                                            if (Object.keys(data).length > 0) {
                                                for (var i = 0; i < Object.keys(data).length; i++) {
                                                    var delete_key = data[i]
                                                    delete_key = delete_key.replace(/'/gi, "|");
                                                    var row = $("<tr/>");
                                                    row.append($('<td/>').html(i + 1));
                                                    row.append($('<td/>').html(data[i]));
                                                    $('#patient_table').append(row)
                                                    try {

                                                        var btn = $('<button onclick="deletefunction(\'' + delete_key + '\')"/>').addClass("btn btn-primary btn-sm").text("Delete");
                                                        row.append($('<td/>').append(btn));
                                                        $("#patient_table").append(row);
                                                    }
                                                    catch { }

                                                }

                                            }
                                            $("#processing").hide();
                                        }

                                    });

                                });
                                $("#enter_keyword").val('')
                            }
                        });
                    }
                    else {
                        return $('#demo')
                    }
                }
            </script>
            <div id="results">

                <section class="section" id="patient_timeline" style="display: none;">

                    <!--  -->
                    <button id="demo" onclick="deletefunction()" class="btn btn-primary mb-3" data-toggle="modal"
                        data-target=".bd-example-modal-xl">Delete
                    </button>

                    <!--  -->
                </section>
                <script>
                    function deletefunction(delete_key) {
                        console.log(delete_key)
                        var r = confirm("Are you sure want to delete this keyword ?");
                        if (r == true) {
                            debugger;
                            var data = new FormData();
                            data.append('KeywordDelete', delete_key);
                            $.ajax({
                                type: 'POST',
                                enctype: 'multipart/form-data',
                                url: '/delete_Keywords_ConAutoSuggestion',
                                processData: false,
                                cache: false,
                                timeout: 800000,
                                contentType: false,
                                data: data,
                                success: function (response) {
                                    $(document).ready(function () {
                                        $.ajax({
                                            type: 'POST',
                                            enctype: 'multipart/form-data',
                                            url: '/Show_Keywords_ConAutoSuggestion',
                                            processData: false,
                                            contentType: false,
                                            cache: false,
                                            timeout: 800000,
                                            contentType: 'application/json',
                                            data: {},
                                            success: function (response) {
                                                $('#patient_table').empty()
                                                var data = $.parseJSON(response);
                                                if (Object.keys(data).length > 0) {
                                                    for (var i = 0; i < Object.keys(data).length; i++) {
                                                        var delete_key = data[i]
                                                        delete_key = delete_key.replace(/'/gi, "|");
                                                        var row = $("<tr/>");
                                                        row.append($('<td/>').html(i + 1));
                                                        row.append($('<td/>').html(data[i]));
                                                        $('#patient_table').append(row)
                                                        try {

                                                            var btn = $('<button onclick="deletefunction(\'' + delete_key + '\')"/>').addClass("btn btn-primary btn-sm").text("Delete");
                                                            row.append($('<td/>').append(btn));
                                                            $("#patient_table").append(row);
                                                        }
                                                        catch { }

                                                    }

                                                }

                                            }

                                        });

                                    });
                                }
                            });
                        }
                        else {
                            return $('#demo')
                        }
                    }
                </script>
                <div class="col">

                </div>
            </div>
    </section>
    <section class="section">

        <div class="table-responsive" id="patient_details_grid">
            <table class="table table-striped table-hover table-bordered" id="patientTable">
                <thead>
                    <tr>
                        <th width="50px" class="text-center">#</th>
                        <th>Keywords</th>
                        <th width="1%">Action</th>

                    </tr>
                </thead>
                <tbody id="patient_table">
                    <tr>
                        <td colspan="7" style="text-align: center;">No Records Found.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!--  -->
</div>
</div>



<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $('#form').unbind().submit(function (e) {
        e.preventDefault();

        var data = {};
        var Form = this;

        $.each(this.elements, function (i, v) {
            var input = $(v);
            data[input.attr("name")] = input.val();
        });

        $.ajax({
            type: 'POST',
            url: '/table',
            contentType: 'application/json',

            data: JSON.stringify(data),
            success: function (data) {
                $("#results").html(data);
                $(".select2").remove();

            },
            error: function () {
                $(this).html("error!");
            }
        });
    });

    function scrollMe() {
        if ($(".dis").is(":visible")) {
            $(".dis").hide(400);
            $(".clo").show(400);
        }
        else {
            $(".clo").hide(400);
            $(".dis").show(400);
        }
    }

    $(document).ready(function () {
        $.ajax({
            type: 'POST',
            enctype: 'multipart/form-data',
            url: '/Show_Keywords_ConAutoSuggestion',
            processData: false,
            contentType: false,
            cache: false,
            timeout: 800000,
            contentType: 'application/json',
            data: {},
            success: function (response) {
                $('#patient_table').empty()
                var data = $.parseJSON(response);
                if (Object.keys(data).length > 0) {
                    for (var i = 0; i < Object.keys(data).length; i++) {
                        var delete_key = data[i]
                        delete_key = delete_key.replace(/'/gi, "|");
                        var row = $("<tr/>");
                        row.append($('<td/>').html(i + 1));
                        row.append($('<td/>').html(data[i]));
                        $('#patient_table').append(row)
                        try {

                            var btn = $('<button onclick="deletefunction(\'' + delete_key + '\')"/>').addClass("btn btn-primary btn-sm").text("Delete");
                            row.append($('<td/>').append(btn));
                            $("#patient_table").append(row);
                        }
                        catch { }

                    }

                }

            }

        });

    });

</script>


{% endblock %}